/* Sizing settings */

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
  background: url("../images/clouds.jpg"), no-repeat;
  background-size: cover;
  color: var(--font-color);
}

.container {
  max-width: 1440px;
  margin-top: 4.5rem;
  display: grid;
  grid-template-areas: "header main" "contact main" "footer footer";
  grid-template-columns: 1fr 3fr;
}

/* grid-area names */

.header {
  grid-area: header;
}

.contact {
  grid-area: contact;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* Text and font settings */

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h1,
h2 {
  letter-spacing: 0.1em;
}

h3 {
  font-weight: 500;
}

p,
.contact .links {
  font-weight: 300;
}

.contact .title {
  letter-spacing: 0.3rem;
}

.header,
.contact,
.footer {
  text-align: center;
}

/* Spacing */

.header {
  margin: 0 5rem 5rem;
}

.contact {
  margin: 0 5rem 5rem 5rem;
}

.main {
  margin: 0 5rem 0 0;
}

/* CSS */

.header {
  height: 50rem;
}

.header,
.contact,
.main .about,
.main .projects {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--container-color);
}

.header,
.contact,
.footer {
  background-color: var(--container-color);
}

.header,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 35rem;
  padding: 1rem;
}

.header .profile-pic {
  width: 20rem;
  border-radius: 50%;
  padding: 1rem;
  border: 0.1rem dashed var(--font-color);
}

.language-icons {
  display: flex;
  justify-content: space-evenly;
  min-width: 16rem;
  font-size: 2.5rem;
}

.contact {
  height: 34.5rem;
}

.contact .links li {
  margin: 2rem 0;
}

.contact .links li i {
  margin: 0 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .about h2,
.main .projects h2 {
  margin-bottom: 3rem;
}

.main .about,
.main .projects {
  padding: 3rem;
  margin-bottom: 5rem;
  width: 100%;
}

.main .projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main .projects img {
  width: 22rem;
  height: 22rem;
  border-radius: 0.5rem;
}

.main .projects figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2rem 0 0 0;
}

.main .projects li {
  width: 25rem;
  border: 0.2rem solid var(--border-color);
  border-radius: 1rem;
}

.projects figure .caption {
  text-align: center;
  font-weight: 300;
  padding: 2rem;
}

.projects figure .caption h3 {
  margin-bottom: 1rem;
}

.footer {
  padding: 1.5rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Kitty icons */

.contact-container .title::after,
.main .about h2::after,
.header h1::after,
.main .projects h2::after {
  margin-left: 1rem;
  display: inline-block;
}

.header h1::after {
  content: url("../images/astronaut-kitty.png");
}

.contact-container .title::after {
  content: url("../images/pencil-kitty.png");
  transform: rotateY(180deg);
}

.main .about h2::after {
  content: url("../images/reading-kitty.png");
}

.main .projects h2::after {
  content: url("../images/computer-kitty.png");
}

.paw-icon {
  content: url("../images/paw.png");
  margin: 0 1rem;
}

@media (hover: hover) {
  .contact li:hover,
  .contact a:hover,
  .language-icons i:hover {
    color: var(--hover-color);
  }

  .main .projects img:hover {
    opacity: 80%;
  }
}

.contact li,
.contact a,
.main .projects img,
.language-icons i {
  transition: 0.4s ease-in-out;
}
